@import "tailwindcss";

@theme {
  --color-primary: #607b96;
  --color-secondary: #e5e9f0;
  --color-line: #1e2d3d;
  --color-btn-hover: #030f1a;
  --color-btn-underline: #fea55f;
  --color-tertiary: #4D5BCE;
  --color-background: #010c15;
}

body {
  color: var(--color-primary);
}

.page-background {
  padding: 0px 160px;
  display: grid;
  column-count: 12;
  column-gap: 16px;
  width: 100%;
  background-color: var(--color-background);
  min-height: 100vh;
}
