@import "tailwindcss";

@theme {
  --color-primary: #8b9299;
  --color-secondary: #e5e9f0;
  --color-line: #1e2d3d;
  --color-btn-hover: #030f1a;
  --color-btn-underline: #fea55f;
  --color-tertiary: #4d5bce;
  --color-background: #010c15;
}

body {
  color: var(--color-primary);
}

.page-background {
  color: #8b9299;
  padding: 0px 160px;
  display: grid;
  column-count: 12;
  column-gap: 16px;
  width: 100%;
  background-color: var(--color-background);
  min-height: 100vh;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: var(--color-secondary);
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #4b5563; /* cinza moderno */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
